
/*All elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    overflow: hidden;
}

html{
    height: 100%;
}

/*Container of page*/

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    height: 100vh;
}

/*Use to repeat style*/

header,main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main button, footer img{
    cursor: pointer;
}


header,main,footer{
    margin: 1rem;
}


/*For each section of element in HEADER*/

header h1,img,p{
    padding: 1rem 0rem;

}

header h1{
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
}

header img{
    max-width: 10rem;
    border-radius: 50%;
}

header p{
    text-align: center;
}

/*For each section of element in MAIN*/
main{
    width: 100%;
    
}

main button{
    margin: .5rem 0;
    padding: 1.2rem;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: antiquewhite;
    color: #222;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color .5s ease, color .5s ease;

}

main button:hover{
    background: #222;
    color: #fff;
    transition: all .5s ease;
}

/*For each section of element in FOOTTER*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding: 5%;
}

footer img{
    width: 10%;


}

footer img:hover{
    filter: opacity(25%);

}


/*Change mode*/

.change-body{
    background: #222;
    color: #fff;
}

.change-body button{
    color: #fff;
    border: 1px solid #fff;
    background: #222;
}

.change-body button:hover{
    background: #dd0;
    color: #222;
    border: none;
}

.change-body footer img{
    filter: hue-rotate(150deg);
    /*Add yellow color*/
}